body {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #eaeaea;
}

.button {
	display: inline-block;
    padding: 0.5em 1em;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
	background: #233e5a;
    text-transform: uppercase;
	text-decoration: none;
	pointer-events: all;

	&:active, &:hover, &:focus {
		text-decoration: none;
		color: #fff;
	}

	&.disabled {
		background: #666;
		pointer-events: none;
	}
}

.toast-container {
	z-index: 10000;
	right: 0;

	.toast {
		background-color: #fff;
	}
}

.card {
	background-color: #d6f1ff;
}

.list-group {
	border: 3px solid #233e5a;
    border-radius: 5px;
}

.list-group-item {
	&:nth-of-type(odd) {
		background-color: #eff;
	}
}