header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background: #fff;
    box-shadow: 1px 0 5px #515151;

	.name {
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 16px;
        letter-spacing: 3.2px;
        line-height: 18px;
        height: 52px;
        display: block;
        color: rgb(46, 46, 46);
	}

    margin-bottom: 3rem;
}